<section class="best">

  <h1 class="best-title">Best Sellers</h1>

  <div id="formList">

    <div id="list">
      <% data.food.each do |item| %>
        <a href="javascript:void(0);" id="best-card" class="card-button" onclick="openModal('<%= item.name %>', '<%= item.price %>', '<%= item.description %>', '<%= item.image %>')">
          <div class="item">
              <%= image_tag item.image, class:"avatar" %>
              <!--<%= image_tag data.menu[0].image, class:"avatar" %>-->
              <div class="content">
                  <table width="100%" cellspacing="0">
                      <tr>
                          <td><%= item.name %></td>
                      </tr>
                      <tr>
                          <td><%= item.price %></td>
                      </tr>
                      <tr>
                          <td colspan="2" class="nameGroup"><%= item.description %></td>
                      </tr>
                  </table>
              </div>
          </div>
        </a>
      <% end %>

    </div>

</div>

<div class="direction">
    <button id="prev"> < </button>
    <button id="next"> > </button>
</div>

</section>
