<section class="best">

  <h1 class="best-title">Best Sellers</h1>

  <div id="formList">

    <div id="list">
        <div class="item">
            <%= image_tag "menu/menu1_cropped.png", class:"avatar" %>
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>Name</td>
                        <td><%= data.menu[0].name %></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><%= data.menu[0].price %></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup"><%= data.menu[0].description %></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <%= image_tag "menu/menu2_cropped.png", class:"avatar" %>
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>Name</td>
                        <td>Brook</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>Hải tặc</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup">Thành viên băng Mũ Rơm</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <%= image_tag "menu/menu3_cropped.png", class:"avatar" %>
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>Name</td>
                        <td>Sanji</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>Đầu bếp</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup">Thành viên băng Mũ Rơm</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <%= image_tag "menu/menu4_cropped.png", class:"avatar" %>
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>Name</td>
                        <td>Usopp</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>Xạ thủ</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup">Thành viên băng Mũ Rơm</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <%= image_tag "menu/menu5_cropped.png", class:"avatar" %>
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>Name</td>
                        <td>Nami</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>Hoa tiêu</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup">Thành viên băng Mũ Rơm</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <%= image_tag "menu/menu6_cropped.png", class:"avatar" %>
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>Name</td>
                        <td>Robin</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>Hải tặc</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup">Thành viên băng Mũ Rơm</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="direction">
    <button id="prev"> < </button>
    <button id="next"> > </button>
</div>

</section>
