<section class="best">

  <h1 class="best-title">Best Sellers</h1>

  <div id="formList">

    <div id="list">
        <div class="item">
            <%= image_tag "menu/menu1_cropped.png", class:"avatar" %>
            <!--<%= image_tag data.menu[0].image, class:"avatar" %>-->
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td><%= data.menu[0].name %></td>
                    </tr>
                    <tr>
                        <td><%= data.menu[0].price %></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup"><%= data.menu[0].description %></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <%= image_tag "menu/menu2_cropped.png", class:"avatar" %>
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>Menu Item</td>
                    </tr>
                    <tr>
                        <td>1000 Yen</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup">Menu Description</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <%= image_tag "menu/menu3_cropped.png", class:"avatar" %>
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>Menu Item</td>
                    </tr>
                    <tr>
                        <td>1000 Yen</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup">Menu Description</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <%= image_tag "menu/menu4_cropped.png", class:"avatar" %>
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>Menu Item</td>
                    </tr>
                    <tr>
                        <td>1000 Yen</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup">Menu Description</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <%= image_tag "menu/menu5_cropped.png", class:"avatar" %>
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>Menu Item</td>
                    </tr>
                    <tr>
                        <td>1000 Yen</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup">Menu Description</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="item">
            <%= image_tag "menu/menu6_cropped.png", class:"avatar" %>
            <div class="content">
                <table width="100%" cellspacing="0">
                    <tr>
                        <td>Menu Item</td>
                    </tr>
                    <tr>
                        <td>1000 Yen</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="nameGroup">Menu Description</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="direction">
    <button id="prev"> < </button>
    <button id="next"> > </button>
</div>

</section>
