<section class="gallery" id="Gallery">
  <h1 class="gallery-title">Gallery</h1>
  <main>
    <div class="slider" style="
        --width: 300px;
        --height: 300px;
        --quantity: 5;
    ">
        <div class="list">
            <div class="gallery-img" style="--position: 1"><%= image_tag "gallery/show_1_cropped.png" %></div>
            <div class="gallery-img" style="--position: 2"><%= image_tag "gallery/show_2_cropped.png" %></div>
            <div class="gallery-img" style="--position: 3"><%= image_tag "gallery/show_3_cropped.png" %></div>
            <div class="gallery-img" style="--position: 4"><%= image_tag "gallery/show_4_cropped.png" %></div>
            <div class="gallery-img" style="--position: 5"><%= image_tag "gallery/show_5_cropped.png" %></div>
        </div>
    </div>
  </main>

</section>
