<section class="menu" id="Menu">
  <h1 class="menu-title">Shop Menu</h1>
  <div class="menu-nav-container">
    <input type="radio" name="slider" id="food" checked>
    <input type="radio" name="slider" id="drinks">
    <input type="radio" name="slider" id="sweets">

    <nav class="menu-nav">
        <label for="food" class="food">Food</label>
        <label for="drinks" class="drinks">Drinks</label>
        <label for="sweets" class="sweets">Sweets</label>
        <div class="menu-slider"></div>
    </nav>

    <section class="menu-section">

      <div class="menu-content card-container-1">

        <% data.food.each do |item| %>
          <div class="card">
            <%= image_tag item.image, class:"card-img" %>
            <div class="card-content">
              <h1><%= item.name %></h1>
              <p><%= item.price %></p>
              <a href="javascript:void(0);" class="card-button" onclick="openModal('<%= item.name %>', '<%= item.price %>', '<%= item.description %>', '<%= item.image %>')">More</a>
            </div>
          </div>
        <% end %>

      </div>


      <div class="menu-content card-container-2">

        <% data.drinks.each do |item| %>
          <div class="card">
            <%= image_tag item.image, class:"card-img" %>
            <div class="card-content">
              <h1><%= item.name %></h1>
              <p><%= item.price %></p>
              <a href="javascript:void(0);" class="card-button" onclick="openModal('<%= item.name %>', '<%= item.price %>', '<%= item.description %>', '<%= item.image %>')">More</a>
            </div>
          </div>
        <% end %>

      </div>

      <div class="menu-content card-container-3">

        <% data.sweets.each do |item| %>
          <div class="card">
            <%= image_tag item.image, class:"card-img" %>
            <div class="card-content">
              <h1><%= item.name %></h1>
              <p><%= item.price %></p>
              <a href="javascript:void(0);" class="card-button" onclick="openModal('<%= item.name %>', '<%= item.price %>', '<%= item.description %>', '<%= item.image %>')">More</a>
            </div>
          </div>
        <% end %>

      </div>

    </section>

  </div>

</section>

<!-- Modal structure -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <img id="modalImage" src="" alt="Image" class="modal-img">
    <h1 id="modalTitle"></h1>
    <p id="modalPrice"></p>
    <p id="modalDescription"></p>
  </div>
</div>
