<section class="menu" id="Menu">
  <h1 class="menu-title">Shop Menu</h1>
  <div class="menu-nav-container">
    <input type="radio" name="slider" id="food" checked>
    <input type="radio" name="slider" id="drinks">
    <input type="radio" name="slider" id="sweets">

    <nav class="menu-nav">
        <label for="food" class="food">Food</label>
        <label for="drinks" class="drinks">Drinks</label>
        <label for="sweets" class="sweets">Sweets</label>
        <div class="menu-slider"></div>
    </nav>

    <section class="menu-section">

      <div class="menu-content card-container-1">

        <div class="card">
          <%= image_tag "menu/menu1_cropped.png", class:"card-img" %>
          <div class="card-content">
            <h1>Menu One</h1>
            <p>Price</p>
            <p>Description</p>
            <a href="" class="card-button">Read More</a>
          </div>
        </div>

        <div class="card">
          <%= image_tag "menu/menu2_cropped.png", class:"card-img" %>
          <div class="card-content">
            <h1>Menu Two</h1>
            <p>Price</p>
            <p>Description</p>
            <a href="" class="card-button">Read More</a>
          </div>
        </div>

        <div class="card">
          <%= image_tag "menu/menu3_cropped.png", class:"card-img" %>
          <div class="card-content">
            <h1>Menu Three</h1>
            <p>Price</p>
            <p>Description</p>
            <a href="" class="card-button">Read More</a>
          </div>
        </div>

      </div>

      <div class="menu-content card-container-2">

        <div class="card">
          <%= image_tag "drinks/drink1_cropped.png", class:"card-img" %>
          <div class="card-content">
            <h1>Menu One</h1>
            <p>Price</p>
            <p>Description</p>
            <a href="" class="card-button">Read More</a>
          </div>
        </div>

        <div class="card">
          <%= image_tag "drinks/drink2_cropped.png", class:"card-img" %>
          <div class="card-content">
            <h1>Menu Two</h1>
            <p>Price</p>
            <p>Description</p>
            <a href="" class="card-button">Read More</a>
          </div>
        </div>

        <div class="card">
          <%= image_tag "drinks/drink3_cropped.png", class:"card-img" %>
          <div class="card-content">
            <h1>Menu Three</h1>
            <p>Price</p>
            <p>Description</p>
            <a href="" class="card-button">Read More</a>
          </div>
        </div>

      </div>

      <div class="menu-content card-container-3">

        <div class="card">
          <%= image_tag "sweets/sweet1_cropped.png", class:"card-img" %>
          <div class="card-content">
            <h1>Menu One</h1>
            <p>Price</p>
            <p>Description</p>
            <a href="" class="card-button">Read More</a>
          </div>
        </div>

        <div class="card">
          <%= image_tag "sweets/sweet2_cropped.png", class:"card-img" %>
          <div class="card-content">
            <h1>Menu Two</h1>
            <p>Price</p>
            <p>Description</p>
            <a href="" class="card-button">Read More</a>
          </div>
        </div>

        <div class="card">
          <%= image_tag "sweets/sweet3_cropped.png", class:"card-img" %>
          <div class="card-content">
            <h1>Menu Three</h1>
            <p>Price</p>
            <p>Description</p>
            <a href="" class="card-button">Read More</a>
          </div>
        </div>

      </div>

    </section>

  </div>

</section>
