<div class="intro">
  <h1 class="splash-header">
    <span class="splash">喫</span><span class="splash">茶</span><span class="splash">koharu</span>
  </h1>
</div>

<div class="main-content">
  <%= partial 'partials/navbar' %>
  <%= partial 'partials/hero' %>
  <%= partial 'partials/best' %>
  <%= partial 'partials/about' %>
  <%= partial 'partials/menu' %>
  <%= partial 'partials/gallery' %>
  <%= partial 'partials/footer' %>
</div>

<script src="splash.js"></script>
